body {
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    background-color: #E1EDEC;
}

header {
    text-align: center;
    padding-top: 20px;
}

main {
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    padding-bottom: 20px;
    margin-top: auto;
}

dialog {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    border-color:#C4BAD6;
}

.border-img {
    width: 70px;
    padding-left: 25px;
    padding-right: 25px;
}

.left-panel {
    min-width: 95vh;
    padding-top: 50px;
    text-align: center;
}

.right-panel {
    min-width: 100vh;
    text-align: center;
    word-spacing: 50px;
}

.rpsls-label {
    font-size: 150px;
}

.r-label {
    color: #589595;
}

.p-label {
    color: #B68DC2;
}

.s1-label {
    color: #396989;
}

.l-label {
    color: #8DB4B4;
}

.s2-label {
    color: #A069C2;
}

.index-buttons {
    padding-top: 25px;
    word-spacing: 50px;
}

.play-button {
    background-color: #C4BAD6;
    width: 250px;
    height: 100px;
    font-size: 27px;
    font-family: monospace;
    color: white;
    border-radius: 16px;
    border-color: #C4BAD6;
}

.no-opponent-button {
    background-color: #589595;
    width: 250px;
    height: 75px;
    font-size: 27px;
    font-family: monospace;
    color: white;
    border-radius: 16px;
    border-color: #225661;
    border-width: 5px;
    filter: opacity(75%);
}

.restart-button {
    background-color: #589595;
    width: 150px;
    height: 50px;
    font-size: 27px;
    font-family: monospace;
    color: white;
    border-radius: 16px;
    border-color: #225661;
    border-width: 5px;
}

form {
    margin-top: auto;
}

.rpsls-icon {
    width: 150px;
    filter: opacity(75%);
}

.rpsls-icon:hover {
    cursor: pointer;
    filter: opacity(100%);
}

button:hover {
    cursor: pointer;
    filter: opacity(100%);
}